@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body
 {
  word-break: break-all;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-cyan-400 dark:text-zinc-500;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}
